@media (max-width: $mobile) {
  body {
    background-image: url("../../images/bg-header-mobile.png");
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    h1 {
      font-size: 30px;
      br {
        display: inline-block;
      }
    }
    p {
      font-size: 16px;
    }
    .responsive-web {
      display: none;
    }
    button {
      width: 100%;
    } 
  }

  .info-container {
    h2 {
      font-size: 27px;
    }
    p {
      font-size: 16px;
    }
    .responsive-web {
      display: none;
    }
  }

  .info-container-1 {
    flex-wrap: wrap;
    div {
      padding: 24px 0px;
      padding-left: 0px;
      text-align: center;
    }
    img {
      width: 100%;
      margin-left: 0px;
    }
    .responsive-mobile {
      display: inline-block;
    }
    .responsive-web {
      display: none;
    }
  }

  .info-container-2 {
    img {
      width: 100%;
      padding-bottom: 24px;
    }
    h2 {
      font-size: 27px;
    }
    .responsive-web {
      display: none;
    }
    p {
      padding: 24px 16px 0px;
      font-size: 16px;
    }
  }

  .info-icon-container  {
    .responsive-web {
      display: none;
    }
    div {
      padding: 24px;
    }
  }

  .logo-companies {
    flex-wrap: wrap;
  }

  .advertising {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 48px 8px;
    h3 {
      font-size: 27px;
    }
    button {
      width: 100%;
    }
    .responsive-mobile {
      display: inline-block;
    }
    .responsive-web {
      display: none;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      padding-bottom: 16px;
    }
    a {
      text-align: center;
      padding: 16px;
    }
    figure {
      margin-top: -16px;
    }
  }
}
